.our-results {
    background-image: url("./assets/headphones_hero_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.textarea-results {
    width: 637px;
    margin: 0 auto;
    padding: 40px 0;
}

.textarea-results h1, .textarea-results p{
    text-align: center;
    color: var(--white);
}

.textarea-results h1 {
    font-size: 32px;
    font-weight: 600px;
}

.textarea-results p {
    margin: 30px 0;
}

.pentagon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-two, .last-two {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.f-one, .s-one, .t-one, .ff-one {
    flex: 1 1 24%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .pentagon {
        flex-direction: column;
    }

    .first-two, .last-two {
        display: flex;
        justify-content: space-between;
    }

    .f-one, .s-one, .t-one, .ff-one {
        flex: 1 1 48%;
    }
}

@media (max-width: 480px) {
    .first-two, .last-two {
        flex-direction: column;
    }

    .f-one, .s-one, .t-one, .ff-one {
        flex: 1 1 100%;
    }
}

.pentagon img {
    width: 200px;
    margin: 0 30px;
}

