.foot {
    background-color: var(--primary-text-color);
}

.logicons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
}

.fa-brands {
    font-size: 25px;
    color: var(--white);
    margin: 0 10px;
}

.fa-brands:hover {
    cursor: pointer;
    transition: all .4s ease;
    color: var(--primary-color);
    opacity: 0.9;
}

.fa-brands:active {
    color: var(--white);
}

.foot p{
    text-align: center;
    color: var(--white);
    padding-bottom: 30px;
}