@keyframes pulsate {
    100% {
        transform: scale(100%);
        /* transform: translateX(0px); */
    }

    50% {
        transform: scale(80%);
        /* transform: translateX(-10px); */
    }
}

.item {
    animation-name: pulsate;
    animation-duration: 3s;
    animation-delay: 0;
    animation-iteration-count: infinite;
}